$mobileScreen: 425px;

.banner-wrap{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 0;
  }
  .banner-content{
    text-align: center;
    z-index: 1;
    padding: 0 15px;
    h1, p{
      color: #fff;
      margin: 0;
    }
    h1{
      font-size: 60px;
    }
    p{
      font-size: 25px;
    }
  }
}

@media(max-width: $mobileScreen){
  .banner-wrap{
    .banner-content{
      h1{
        font-size: 40px;
      }
      p{
        font-size: 18px;
      }
    }
  }
}